:root {
    --bckgrndbdy: #F8F9FA;
    --btnordr: #007BFF;
    --btnplus: #D33F49;
    --donetsk: #A5C882;
    --wrpprbck: #E9ECEF; 
    --maintxt: #212529;
    --primary: rgb(29, 146, 146); 
}

@media (prefers-color-scheme: dark) {
    :root {
        --bckgrndbdy: #212529;
        --btnordr: #0D6EFD;
        --donetsk: #665744;
        --primary: #EEB264;
        --wrpprbck: #343A40; 
        --maintxt: #F8F9FA;
    }
}

body {
    background-color: var(--bckgrndbdy);
    font-family: 'Lato', sans-serif;
    height: 100vh;
    margin: 0;
}

*::first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    background-color: var(--wrpprbck);
    margin: 25px auto;
    max-width: 350px;
    padding: 25px;
    width: 100%;
}

.date {
    align-items: center;
    color: var(--maintxt);
    display: flex;
    justify-content: space-between;
}

.dateLeft {
    align-items: center;
    display: flex;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    font-size: 20px;
    margin-left: 7px;
}

form {
    display: grid;
    margin: 20px 0;
    grid-auto-flow: column;
    grid-column-gap: 15px;
    grid-template-columns: auto 35px auto;
}

input {
    background-color: var(--bckgrndbdy);
    border: none;
    color: var(--maintxt);
    font-family: Lato, sans-serif;
    font-weight: 600;
    padding-left: 10px;
}

input:focus {
    outline: 2px solid;
    outline-color: var(--primary);
}

.addTaskButton,
.orderButton {
    border: none;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: 600;
}

.addTaskButton {
    background-color: var(--btnplus);
    border-radius: 50%;
    color: var(--maintxt);
    font-size: 18px;
    height: 35px;
}

.orderButton {
    background-color: var(--btnordr);
    color: var(--maintxt);
}

.task-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task {
    background-color: var(--primary);
    color: var(--maintxt);
    cursor: pointer;
    flex-grow: 1;
    font-family: Lato, sans-serif;
    font-weight: 900;
    margin-right: 10px;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-date {
    font-size: 0.8em;
    color: #888;
}

.delete-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.done {
    background-color: var(--donetsk);
    color: var(--bckgrndbdy);
    text-decoration: line-through;
}