/* edit-modal.css — Modal de edición */

#editTaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

#editTaskForm input[type="text"] {
    width: 90%;
}

.edit-input {
    flex-grow: 1;
    border: 1px solid #6C63FF;
    padding: 10px;
    border-radius: 5px;
}
